@import "var";
.case-box{
  display: none;
  margin-bottom:20px;
}
.show-case-wrap{
  display: inline-flex;
  padding: 20px;
  background: #f4f4f4;
  word-break: initial;
  width: 100%;
  .case{
    width: 300px;
    background: pink;
    .case-main{
      background-color: lightblue;
      .case-item{
        background-color: lightyellow;
        border: 1px solid black;
        margin: 4px;
        text-align: center;
      }
    }
  }
  .handle{
    .handle-item{
      flex:1;
      margin-bottom:8px;
      p{
        padding-bottom:4px;
      }
    }
    button{
      padding:4px 10px;
      background: antiquewhite;
      outline: none;
      font-size: 1em;
      &.active{
        color:#fff;
        background: blue;
      }
    }
  }
  .reset{
    cursor: pointer;
    width:40px;
    height: 36px;
    text-align: center;
    color: #fff;
    line-height: 36px;
    background: $bg;
    margin: 0 8px;
    border-radius: 4px;
    transition: .3s all ease-in-out;
    &:hover{
      background: #6aa6e2;
    }
  }
}
