.case-box{
  display: none;
  margin-bottom:20px;
}
.show-case-wrap{
  display: inline-flex;
  padding: 20px;
  background: #f4f4f4;
  word-break: initial;
  width: 100%;
  .case{
    width: 300px;
    background: pink;
    .case-main{
      background-color: lightblue;
      .case-item{
        background-color: lightyellow;
        border: 1px solid black;
        margin: 4px;
        text-align: center;
      }
    }
  }
  .handle{
    flex:1;
    margin-left:20px;
    button{
      padding:4px 10px;
      background: antiquewhite;
      outline: none;
      font-size: 1em;
      &.active{
        color:#fff;
        background: blue;
      }
    }
  }
}